<app-navbar  class="pb-5 mb-5"></app-navbar>
<div  class="pt-5 container" style="min-width: 1000px; width: 1230px;">
<div class="mt-5 d-flex mx-auto">
    
    <app-customer-page class="col-3 bg-white rounded-3"></app-customer-page>
    <div class="col-8 mx-3 bg-white rounded-3" style="box-shadow: 0 1px 5px rgb(232, 232, 232);">
        <div style="border-bottom: 1px solid rgb(228, 228, 228);" class="fs-5 p-3">Account Overview</div>

        <div class="row col-12">
            <div class="col-md-10 col-5 m-3 border rounded-3">
                <div style="border-bottom: 1px solid rgb(228, 228, 228); font-size: 15px;" class="p-2">ACCOUNT DETAILS</div>
                <div class="p-3" style="font-size: 14px;">
                    <div>Abdullahi Olajde</div>
                    <div class="text-secondary">igeabdullahiolajide#gmail.com</div>
                </div>
            </div>
            <div class="col-5 m-3  border rounded-3">
                <div style="border-bottom: 1px solid rgb(228, 228, 228); font-size: 15px;" class="p-2">ADDRESS BOOK</div>
                <div class="p-3" style="font-size: 14px;">
                    <div>Your default shipping address:</div>
                    <div class="text-secondary">Abdullahi Olajide</div>
                    <div class="text-secondary">Ogbomoso, Aroje Abaa, zone 5D 19</div>
                    <div class="text-secondary">Ogbomosho, Oyo</div>
                    <div class="text-secondary">+234 9039834937</div>
                </div>
            </div>
        </div>

        <div class="d-flex col-12">
            <div class="col-5 m-3 border rounded-3">
                <div style="border-bottom: 1px solid rgb(228, 228, 228); font-size: 15px;" class="p-2">TT STORE CREDIT</div>
                <div class="p-3" style="font-size: 14px;">
                    <div class="text-primary">TT store credit balance: N0</div>
                </div>
            </div>
            <div class="col-5 m-3  border rounded-3">
                <div style="border-bottom: 1px solid rgb(228, 228, 228); font-size: 15px;" class="p-2">NEWS LATTER PREFERENCE</div>
                <div class="p-3" style="font-size: 14px;">
                    <div>Manage your email communications to stay updated with the latest news and offers.</div>
                   
                    <button class="text-primary btn">Edit news letter preference</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>