<main class=" d-flex justify-content-center " style="height: 100vh;">
   <div>
    <h1 class="text-center fw-bold mb-5 mt-5">TT Stores</h1>
    <div class="text-center pb-3">This transaction was fulfilled by Tech Titan Paystacks services. <u>Learn more</u> about TT.</div>

    <div class="border mx-3" style="background-color: #F4FDFF;">
        <div class="d-flex justify-content-center align-items-center mt-4">
            <img class="" src="https://img.icons8.com/?size=100&id=yxGhPvscdyez&format=png&color=2BA1B6" alt="">
        </div>
        <div class="text-center fs-5 fw-bolder">Order Placed Successfully</div>
        <div class="text-center">
            <p class="w-75 mx-auto">Your Transaction to TT Stores has been verified and your order has been placed</p>
        <div><strong>Delivery Usually takes between 5-10 working days</strong></div>

        <div><a href="/collections"><button class="btn btn-info text-white px-4 rounded-0 mb-5 mt-3">Done</button></a></div>

        </div>
    </div>
        <!-- <div>
            <ul class="nav">
                <li class="li"><a class="m-a" href="/">Home</a></li>
                <li class=""><a href="/" class="m-a">Collection</a></li>
                <li class=""><a href="/" class="m-a">About Us</a></li>
                <li class=""><a href="/" class="m-a">Contact Us</a></li>
               
            </ul>
        </div> -->
   </div>
</main>
<style>
    .m-a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        }
        li{
            padding: 9px 12px;
            border-radius: 50px;
        }
    .nav{
        background-color: #2BA1B6;
        border-radius: 50px;
        padding: 4PX 10px;
        width: fit-content; 
        margin: 10px auto;
    }
    li:hover{
        background-color: rgb(0, 0, 0);
        color: black;
    }

</style>