<div >
    <app-sidenav style="position: absolute;"></app-sidenav>
</div>
<div class="content row mt-lg-5">

    <main class="row col-12 mx-auto">
      <div class="col-lg-4 my-3 p-3  text-white rounded-3" style="background-color: rgb(0, 35, 99);">
        <div class="row" style="letter-spacing: 1px; line-height: 33px;">
          <span class="fs-1 fw-medium col-12">N 947.30</span>
          <span class="fw-light fs-5">Acive Balance</span>
        </div>
        <div class="my-3">
          <div class="col-12 fw-medium my-4">
            <span class="bg-white mx-1 rounded-2" style="padding: 3px 4px;"><img src="https://img.icons8.com/?size=100&id=100000&format=png&color=05BF34" alt="" style="height: 18px;"></span>
            <span class="fs-5 fw-light" style="letter-spacing: 1px;">Income</span>
            <span class="float-end fs-5">N 2938</span>
          </div>

          <div class="col-12 fw-medium my-4">
            <span class="bg-white mx-1 rounded-2" style="padding: 3px 4px;"><img src="https://img.icons8.com/?size=100&id=99271&format=png&color=D81313" alt="" style="height: 18px;"></span>
            <span class="fs-5 fw-light" style="letter-spacing: 1px;">Expenses</span>
            <span class="float-end fs-5">N -240</span>
          </div>

          <div class="col-12 fw-medium my-4">
            <span class="bg-white mx-1 rounded-2" style="padding: 3px 4px;"><img src="https://img.icons8.com/?size=100&id=99271&format=png&color=D81313" alt="" style="height: 18px;"></span>
            <span class="fs-5 fw-light" style="letter-spacing: 1px;">Taxes</span>
            <span class="float-end fs-5">N -115</span>
          </div>
          
        </div>
        
        <button class="text-dark bg-white px-3 py-2 btn fw-medium">Add Virtual Card</button>
        
    </div>
    
        <section class="p-3 col-lg-8 col-md-12 mx-auto">
            <div class="row col-12 mx-auto">
    
                <div class="col-6 my-1 text-center" id="hover">
                  <div class="w-100 text-center mx-auto rounded-5 border py-3 hover" >
                    <div class="rounded-circle p-2 overflow-hidden mx-auto img"><img src="https://img.icons8.com/?size=100&id=6ME13AJ6718V&format=png&color=ffffff" alt="icon"></div>
                    <div class="fs-5 fw-medium">Total Sales</div>
                    <div class="text-secondary" style="font-size: 0.9rem;">+10% sales</div>
                    <div class="fs-4 fw-medium text-mycolor">N327M</div>
                  </div>
                </div>
    
                <div class="col-6 my-1 text-center">
                    <div class="w-100 text-center mx-auto rounded-5 border py-3 hover">
                      <div class="rounded-circle p-2 overflow-hidden mx-auto img"><img src="https://img.icons8.com/?size=100&id=59867&format=png&color=ffffff" alt="icon"></div>
                      <div class="fs-5 fw-medium">Product</div>
                      <div class="text-secondary" style="font-size: 0.9rem;">+35% Added</div>
                      <div class="fs-4 fw-medium text-mycolor">180</div>
                    </div>
                  </div>
    
                  <div class="col-6 my-1 text-center">
                    <div class="w-100 text-center mx-auto rounded-5 border py-3 hover">
                      <div class="rounded-circle p-2 overflow-hidden mx-auto img"><img src="https://img.icons8.com/?size=100&id=34005&format=png&color=ffffff" alt="icon"></div>
                      <div class="fs-5 fw-medium">Profit</div>
                      <div class="text-secondary" style="font-size: 0.9rem;">+30% Profit</div>
                      <div class="fs-4 fw-medium text-mycolor">N27M</div>
                    </div>
                  </div>
    
                  <div class="col-6 my-1 text-center">
                    <div class="w-100 text-center mx-auto rounded-5 border py-3 hover">
                      <div class="rounded-circle p-2 overflow-hidden mx-auto img"><img src="https://img.icons8.com/?size=100&id=61811&format=png&color=ffffff" alt="icon"></div>
                      <div class="fs-5 fw-medium">Expenses</div>
                      <div class="text-secondary" style="font-size: 0.9rem;">+10% sales</div>
                      <div class="fs-4 fw-medium text-mycolor">N10k</div>
                    </div>
                  </div>
            
    
            </div>

            
        </section>
        

        <div class="col-12 border my-3 rounded-3">
          <div class="fw-medium my-3">Orders</div>
          <div class="my-4">
           <span class="filter p-2">
             <input type="text" placeholder="Filter" class="filterI">
             <img src="https://img.icons8.com/?size=100&id=7695&format=png&color=A8A4A4" alt="" width="23">
           </span>
           <select name="" id="" class="select-s">
             <option value="">New</option>
             <option value="">Old</option>
           </select>
          </div>
          <table class="table tb">
             <thead>
               <tr>
                 <th class="rounded-start-3" style="background-color: #002363; color: white;" scope="col">Customer</th>
                 <th style="background-color: #002363; color: white;" scope="col">Date</th>
                 <th style="background-color: #002363; color: white;" scope="col">Price</th>
                 <th class="rounded-end-3" style="background-color: #002363; color: white;" scope="col">Product</th>
               </tr>
             </thead>
             <tbody>
                <tr>
                 <td>Something</td>
                 <td>Something</td>
                 <td>
                    N7853
                 </td>
                 <td>Infinix</td>
               </tr>
               
             </tbody>
           </table>
        </div>


    </main>
  
</div>