.check{
    border: 5px solid black; 
    border-top: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-left: 8px solid black; 
    height: 35px; 
    width: 80px;
    transform: rotate(330deg);
}
.checked{
    border: 5px solid black; 
    border-top: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-left: 8px solid black; 
    height: 35px; 
    width: 80px;
    transform: rotate(330deg);
}