<div style="height: 100vh; background-color: rgb(251, 251, 255);" id="theBody">


  <div>
      <app-navbar></app-navbar>
  
      <section class="hero-section">
        <div class=" px-3 hero " style="height: 100vh; margin: auto;">
          <div class=" col-lg-12 col-sm-11 hero-text d-flex h-100 justify-content-center mt-1 pt-1">
           <div style="margin-top: 50px; max-width: 900px; line-height: 60px;" class="pt-5 col-12 text-center">
            
            Discover a world of amazing deals and quality products <br> 
            <small class="fs-6">– Fast, Easy, and Affordable!</small> <br>
           <a routerLink="/collections">
            <button class="fs-6 mx-auto" style="border-radius: 50px; background-color:#031633; color: rgb(255, 255, 255); border: 1px solid white; padding: 0px 20px;">Shop Collections</button>
           </a>
            
           </div>
          </div>
<!--   
          <div class="col-lg-9 col-sm-10 mx-auto p-3 bg-white rounded-3 d-flex gap-3" style="margin-top: 50vh;">
            <input type="text" placeholder="Filter Category" class="w-75 form-control border border-2 py-3 border-dark" >
            <button class="btn w-25 btn-dark">Filter</button>
          </div> -->
          
        </div>
       
      </section>
  
      <section class="my-5" style="height: 80px;">
        <div class="my-5 mx-auto container" style="width: 97%;">
          
        <main class="py-5 " style="margin-top: 140px;">

          <div style="height: 80px;">
            <div class="fs-1 fw-bold float-start">Product Quality</div>
          </div>

          <div class=" row">
           <div class="col-lg-4 col-md-4 container d-flex justify-content-center align-items-center text-center">
            <div>
              <p><b>Latest Phones</b></p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi consequatur sequi necessitatibus laboriosam iusto molestias! Sunt hic.

              </p>
            </div>
           </div>

           <div class="col-lg-7 mx-auto col-sm-11 col-md-7 text-center">
            <img src="https://plus.unsplash.com/premium_photo-1680985551009-05107cd2752c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGhvbmV8ZW58MHx8MHx8fDA%3D" alt="" style="width: 100%; float: right;" class="rounded-3 mx-auto">
           </div>
          </div>

        </main>

        <main class="py-5">

          
          
          <section class="row container mx-auto ">
            <div class="col-12 rounded-4 bg-section">
              <div  class="fw-bolder text-white" style="font-size: 4rem; ">
                <div>LET'S TALK</div>
              <div>WITH US</div>
              </div>

              <div class="float-end mx-3 col-lg-3 col-md-5 col-sm-7 p-3">
                <div class="text-center bg-white p-2 rounded-3 font-14px fw-bolder my-2">Suscribe to Our Newsletter <br> for More Information</div>
                <div class="text-center bg-white p-2 rounded-3 font-13px my-2">
                  <div>Get all updates about our store just subscribe and get all new instantly</div>

                  <div class="border border-2 my-2 border-dark rounded-2 w-100 mx-auto py-1">
                  <input type="text" class="mx-auto font-12px border-0" placeholder="Enter Your Email">
                  <img class="float-end me-2 mt-1" src="https://img.icons8.com/?size=100&id=7849&format=png&color=000000" [width]="15" alt="">
                 </div>
                </div>
              </div>
            </div>
     
            
          </section>
        </main>

        


        </div>

        <main class="row row-cols-1 row-cols-lg-3 mx-auto container mb-5">
          <div class="col p-2">
            <div class="rounded-3 p-5 text-center" style="background-color: #F3F3F6;">
              <div class="my-4"><img src="https://img.icons8.com/?size=100&id=6667&format=png&color=000000" alt="" [width]="50"></div>
              <div class="fw-light fs-4">Made to order</div>
              <div class="font-13px">All piece made to order for you</div>
            </div>
          </div>
          
          <div class="col p-2">
            <div class="rounded-3 p-5 text-center" style="background-color: #F3F3F6;">
              <div class="my-4"><img src="https://img.icons8.com/?size=100&id=HDPELHF3GVjc&format=png&color=000000" alt="" [width]="50"></div>
              <div class="fw-light fs-4">Free Delivery</div>
              <div class="font-13px">Free delivery for Orders World-wide</div>
            </div>
          </div>

          <div class="col p-2">
            <div class="rounded-3 p-5 text-center" style="background-color: #F3F3F6;">
              <div class="my-4"><img src="https://img.icons8.com/?size=100&id=112565&format=png&color=000000" alt="" [width]="50"></div>
              <div class="fw-light fs-4">Free Exchange</div>
              <div class="font-13px">Free Exchange on all products</div>
            </div>
          </div>
        </main>

        <div style="height: 80px;">
          <div class="fs-1 fw-bold float-start text-center w-100">Most Recommended Products For you</div>
        </div>

        <main class="container row row-cols-lg-2 row-cols-1 mx-auto my-5">
          <div class="col my-2">
            <div class="r-card mx-2 rounded-3 justify-content-center align-items-center d-flex py-5">
                <div class="my-5">
                  <div class="text-white fs-2 my-3 text-center">Smart Watch</div>
                  <div class="justify-content-center align-items-center d-flex">

                    <button class="white-btn font-13px text-center mx-auto">View All</button>
                  </div>
                </div>
            </div>
          </div>
          <div class="col my-2">
            <div class="r-card2 mx-2 rounded-3 justify-content-center align-items-center d-flex py-5">
                <div class="my-5">
                  <div class="text-white fs-2 my-3 text-center">DBL Speaker</div>
                  <div class="justify-content-center align-items-center d-flex">

                    <button class="white-btn font-13px text-center mx-auto">View All</button>
                  </div>
                </div>
            </div>
          </div>
        </main>
        <div style="height: 80px; width: 97%;" class="mx-auto container">
          <div class="fs-1 fw-bold float-start">Our Collections</div>
          <button class="float-end btn btn-outline-dark rounded-circle" style="height: 85px; margin-top: -30px;">View All</button>
        </div>

        <section class="row row-cols-2 row-cols-md-3 row-cols-sm-2 row-cols-lg-4 mx-auto container" style="width: 97%;">
  
          <!-- ---------------------------------PRODUCT CARD---------------------------------- -->
          <!-- ---------------------------------PRODUCT CARD---------------------------------- -->
          <!-- ---------------------------------PRODUCT CARD---------------------------------- -->
          
         
          <div class="col my-4 " *ngFor="let item of productArray; let i = index">

            <div class="my-border rounded-2 shadow-sm" style="width: 95%; overflow: hidden;" >
             
               <div style="overflow: hidden;" class="p-card"> 
                <img [src]="item.product_image" alt="" class="my-rounded w-100" (click)="show(i)">
              
              </div>
              <div class="text-center text-white" style="font-size: 10px; background-color: #044387;">{{item.discount}}% discount</div>
              <div class="my-2 px-2">
                <div class="fw-bold font-13px text-truncate">{{item.product_name}}</div>
                <div class="font-14px">₦ {{item.sale_price}}</div>
                <div><small class="text-secondary font-12px" style="text-decoration: line-through;">₦ {{item.price}}</small></div>
  
                <button  *ngIf="cartValue(productArray[i].product_id) == false" class="btn cart-btn col-12 font-13px" style="border: 1px solid #044387;" (click)="addToCart(i)">Add to Cart</button>
  
                <span class="row col-10 col-md-7 mx-auto" style="height: 32px;" *ngIf="cartValue(productArray[i].product_id) == true">
                  <button class="col-3 btn cart-btn" style="border: 1px solid #044387;  height: 32px; padding-top: 3px;" (click)="remove(i)">-</button>
                  <div class="col text-center my-2">{{displayCartNumber(i)}}</div>
                  <button class="col-3 btn cart-btn" style="border: 1px solid #044387; height: 32px; padding-top: 3px;" (click)="add(i)">+</button>
                </span> 
  
              </div>
            </div>


            
          </div>

          <!-- Modal -->
          <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"            aria-hidden="true" >
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Product Information</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="row row-cols-lg-2 row-cols-md-1">
                      <div>
                        <div>
                          <img class="rounded-3" [src]="productImage" alt="" style="width: 100%;">
                        </div>
                      </div>
                      <div>
                        <div class="fw-bolder fs-4">{{productName}}</div>
                        <div class="fs-6 py-1"><b>Original Price</b>: ₦ {{price}}</div>
                        <div class="fs-6 py-1"><b>Discounted Price</b>: ₦ {{salePrice}}</div>
                        <div class="fs-6"><b style="text-decoration: underline;">Item Description</b>
                          <div>
                            {{description}}
                          </div>
                        </div>

                       <div style="position: absolute; bottom: 10px;" class="col-4">
                        <button  *ngIf="cartValue(productArray[productIndex].product_id) == false" class="btn text-white col-12 font-13px" style="background-color: #a3a3a3;" (click)="addToCart(productIndex)">Add to Cart</button>

                        <div class="row col-12 mx-auto" *ngIf="cartValue(productArray[productIndex].product_id) == true">
                          <button class="text-white border col-3 font-13px rounded-3 fw-bolder" style="background-color: #a3a3a3;" (click)="remove(productIndex)">-</button>
                          <div class="col text-center my-2">{{displayCartNumber(productIndex)}}</div>
                          <button class="text-white border col-3 font-13px rounded-3 fw-bolder" style="background-color: #a3a3a3;" (click)="add(productIndex)">+</button>
                        <div class="text-center">  <small>({{displayCartNumber(productIndex)}} item(s) added)</small></div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of modal -->

         <!-- } -->

          
          
          
          
        </section>

        <footer class="footer mt-auto py-4">
          <div class="container">
            <div class="row">
              <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>We are committed to delivering quality products to our customers with integrity and excellence.</p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Sign up as a seller</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                  <li>Email: tt&#64;gmail.com</li>
                  <li>Phone: +123 456 7890</li>
                  <li>Address: 123 Main Street, City</li>
                </ul>
              </div>
            </div>
            <div class="text-center mt-3">
              <p class="mb-0">&copy; 2025 TT Store. All Rights Reserved.</p>
            </div>
          </div>
        </footer>
          
      </section>
  
      
      
  </div>
    
  
</div>

<style>
  .footer {
    background-color: #031633;
    color: white;
  }
  .footer a {
    color: #ddd;
    text-decoration: none;
  }
  .footer a:hover {
    color: #ffffff;
  }
</style>
